/*************************************************************************
Bootstrap takes care of most of the css, this is just other colors and
additional styles I felt were needed
*************************************************************************/
.card{
	background-color: #DAF8CF;
}

.carousel-caption{
	color: purple;
}

.carousel-indicators li{
	background-color: purple;
}



